body {
    padding: 0px;
    margin: 0px;
    background-color: cornflowerblue;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sketch-container {
    background-color: lightsalmon;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: auto;
    
}
 .square {
    background-color: brown;
    border: 1px solid black;
 }